i.tabbar-home{
  width: 25px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px'  viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'><g><path d='M512,296l-96-96V56h-64v80l-96-96L0,296v16h64v160h160v-96h64v96h160V312h64V296z' fill='#8C8C8C'/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>")
}
.active i.tabbar-home{
  width: 25px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px'  viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'><g><path d='M512,296l-96-96V56h-64v80l-96-96L0,296v16h64v160h160v-96h64v96h160V312h64V296z' fill='#525252'/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>")
}


i.tabbar-add{
  width: 25px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 510 510' style='enable-background:new 0 0 510 510;' xml:space='preserve'><g><g id='add-circle'><path d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-102v102h-51v-102 h-102v-51h102v-102h51v102h102V280.5z' fill='#8C8C8C'/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>")
}
.active i.tabbar-add{
  width: 25px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 510 510' style='enable-background:new 0 0 510 510;' xml:space='preserve'><g><g id='add-circle'><path d='M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M382.5,280.5h-102v102h-51v-102 h-102v-51h102v-102h51v102h102V280.5z' fill='#525252'/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>")
}

i.tabbar-record{
  width: 25px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 45.725 45.725' style='enable-background:new 0 0 45.725 45.725;' xml:space='preserve'><g><g><path d='M9.405,25.479C4.218,25.479,0,29.698,0,34.885s4.219,9.407,9.405,9.407c5.188,0,9.407-4.22,9.407-9.407 S14.593,25.479,9.405,25.479z M9.405,40.305c-2.987,0-5.419-2.432-5.419-5.42s2.432-5.42,5.419-5.42 c2.989,0,5.421,2.432,5.421,5.42S12.395,40.305,9.405,40.305z' fill='#8C8C8C'/><path d='M36.318,25.479c-5.188,0-9.406,4.219-9.406,9.406s4.219,9.407,9.406,9.407c5.188,0,9.406-4.22,9.406-9.407 S41.506,25.479,36.318,25.479z M36.318,40.305c-2.988,0-5.42-2.432-5.42-5.42s2.432-5.42,5.42-5.42c2.987,0,5.42,2.432,5.42,5.42 S39.306,40.305,36.318,40.305z' fill='#8C8C8C'/><path d='M24.777,25.198l-5.056-4.479l5.487-5.25l2.574,3.894c0.531,0.806,1.42,1.305,2.388,1.339l5.058,0.179 c1.633,0.062,3.034-1.232,3.094-2.882c0.059-1.651-1.232-3.036-2.883-3.094l-3.52-0.124l-3.7-5.594 c-0.489-0.739-1.28-1.224-2.16-1.322c-0.885-0.098-1.76,0.197-2.4,0.811L13.237,18.64c-0.604,0.578-0.938,1.381-0.922,2.217 c0.014,0.835,0.385,1.626,1.01,2.181l6.478,5.741v10.244c0,1.65,1.345,2.989,2.996,2.989c1.652,0,2.997-1.339,2.997-2.989V27.433 C25.795,26.579,25.416,25.764,24.777,25.198z' fill='#8C8C8C'/><circle cx='32.363' cy='5.388' r='3.956' fill='#8C8C8C'/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>")
}
.active i.tabbar-record{
  width: 25px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 45.725 45.725' style='enable-background:new 0 0 45.725 45.725;' xml:space='preserve'><g><g><path d='M9.405,25.479C4.218,25.479,0,29.698,0,34.885s4.219,9.407,9.405,9.407c5.188,0,9.407-4.22,9.407-9.407 S14.593,25.479,9.405,25.479z M9.405,40.305c-2.987,0-5.419-2.432-5.419-5.42s2.432-5.42,5.419-5.42 c2.989,0,5.421,2.432,5.421,5.42S12.395,40.305,9.405,40.305z' fill='#525252'/><path d='M36.318,25.479c-5.188,0-9.406,4.219-9.406,9.406s4.219,9.407,9.406,9.407c5.188,0,9.406-4.22,9.406-9.407 S41.506,25.479,36.318,25.479z M36.318,40.305c-2.988,0-5.42-2.432-5.42-5.42s2.432-5.42,5.42-5.42c2.987,0,5.42,2.432,5.42,5.42 S39.306,40.305,36.318,40.305z' fill='#525252'/><path d='M24.777,25.198l-5.056-4.479l5.487-5.25l2.574,3.894c0.531,0.806,1.42,1.305,2.388,1.339l5.058,0.179 c1.633,0.062,3.034-1.232,3.094-2.882c0.059-1.651-1.232-3.036-2.883-3.094l-3.52-0.124l-3.7-5.594 c-0.489-0.739-1.28-1.224-2.16-1.322c-0.885-0.098-1.76,0.197-2.4,0.811L13.237,18.64c-0.604,0.578-0.938,1.381-0.922,2.217 c0.014,0.835,0.385,1.626,1.01,2.181l6.478,5.741v10.244c0,1.65,1.345,2.989,2.996,2.989c1.652,0,2.997-1.339,2.997-2.989V27.433 C25.795,26.579,25.416,25.764,24.777,25.198z' fill='#525252'/><circle cx='32.363' cy='5.388' r='3.956' fill='#525252'/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>")
}

i.tabbar-profile{
  width: 25px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 472 472' style='enable-background:new 0 0 472 472;' xml:space='preserve'><g><g id='XMLID_544_'><path id='XMLID_1550_' d='M434.8,438.8C422.7,357,393.5,276.1,329.3,237c-26.5,20.9-59,32.2-93.3,32.2s-66.8-11.3-93.3-32.2 C78.6,276.1,49.4,357,37.2,438.8C34.6,456.3,48.4,472,66.1,472h339.8C423.6,472,437.4,456.3,434.8,438.8z' fill='#8C8C8C'/><g id='XMLID_1709_'><path d='M236,0c-65.1,0-118,52.8-118,118s52.8,118,118,118s118-52.8,118-118S301.1,0,236,0z M236,79.5 c-21.2,0-38.4,17.2-38.4,38.4c0,9.7-7.9,17.6-17.6,17.6c-9.7,0-17.6-7.9-17.6-17.6c0-40.6,33-73.6,73.6-73.6 c9.7,0,17.6,7.9,17.6,17.6S245.7,79.5,236,79.5z' fill='#8C8C8C'/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>")
}
.active i.tabbar-profile{
  width: 25px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 472 472' style='enable-background:new 0 0 472 472;' xml:space='preserve'><g><g id='XMLID_544_'><path id='XMLID_1550_' d='M434.8,438.8C422.7,357,393.5,276.1,329.3,237c-26.5,20.9-59,32.2-93.3,32.2s-66.8-11.3-93.3-32.2 C78.6,276.1,49.4,357,37.2,438.8C34.6,456.3,48.4,472,66.1,472h339.8C423.6,472,437.4,456.3,434.8,438.8z' fill='#525252'/><g id='XMLID_1709_'><path d='M236,0c-65.1,0-118,52.8-118,118s52.8,118,118,118s118-52.8,118-118S301.1,0,236,0z M236,79.5 c-21.2,0-38.4,17.2-38.4,38.4c0,9.7-7.9,17.6-17.6,17.6c-9.7,0-17.6-7.9-17.6-17.6c0-40.6,33-73.6,73.6-73.6 c9.7,0,17.6,7.9,17.6,17.6S245.7,79.5,236,79.5z' fill='#525252'/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>")
}

i.tabbar-setting{
  width: 25px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,<!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 438.529 438.529' style='enable-background:new 0 0 438.529 438.529;' xml:space='preserve'><g><path d='M436.25,181.438c-1.529-2.002-3.524-3.193-5.995-3.571l-52.249-7.992c-2.854-9.137-6.756-18.461-11.704-27.98 c3.422-4.758,8.559-11.466,15.41-20.129c6.851-8.661,11.703-14.987,14.561-18.986c1.523-2.094,2.279-4.281,2.279-6.567 c0-2.663-0.66-4.755-1.998-6.28c-6.848-9.708-22.552-25.885-47.106-48.536c-2.275-1.903-4.661-2.854-7.132-2.854 c-2.857,0-5.14,0.855-6.854,2.567l-40.539,30.549c-7.806-3.999-16.371-7.52-25.693-10.565l-7.994-52.529 c-0.191-2.474-1.287-4.521-3.285-6.139C255.95,0.806,253.623,0,250.954,0h-63.38c-5.52,0-8.947,2.663-10.278,7.993 c-2.475,9.513-5.236,27.214-8.28,53.1c-8.947,2.86-17.607,6.476-25.981,10.853l-39.399-30.549 c-2.474-1.903-4.948-2.854-7.422-2.854c-4.187,0-13.179,6.804-26.979,20.413c-13.8,13.612-23.169,23.841-28.122,30.69 c-1.714,2.474-2.568,4.664-2.568,6.567c0,2.286,0.95,4.57,2.853,6.851c12.751,15.42,22.936,28.549,30.55,39.403 c-4.759,8.754-8.47,17.511-11.132,26.265l-53.105,7.992c-2.093,0.382-3.9,1.621-5.424,3.715C0.76,182.531,0,184.722,0,187.002 v63.383c0,2.478,0.76,4.709,2.284,6.708c1.524,1.998,3.521,3.195,5.996,3.572l52.25,7.71c2.663,9.325,6.564,18.743,11.704,28.257 c-3.424,4.761-8.563,11.468-15.415,20.129c-6.851,8.665-11.709,14.989-14.561,18.986c-1.525,2.102-2.285,4.285-2.285,6.57 c0,2.471,0.666,4.658,1.997,6.561c7.423,10.284,23.125,26.272,47.109,47.969c2.095,2.094,4.475,3.138,7.137,3.138 c2.857,0,5.236-0.852,7.138-2.563l40.259-30.553c7.808,3.997,16.371,7.519,25.697,10.568l7.993,52.529 c0.193,2.471,1.287,4.518,3.283,6.14c1.997,1.622,4.331,2.423,6.995,2.423h63.38c5.53,0,8.952-2.662,10.287-7.994 c2.471-9.514,5.229-27.213,8.274-53.098c8.946-2.858,17.607-6.476,25.981-10.855l39.402,30.84c2.663,1.712,5.141,2.563,7.42,2.563 c4.186,0,13.131-6.752,26.833-20.27c13.709-13.511,23.13-23.79,28.264-30.837c1.711-1.902,2.569-4.09,2.569-6.561 c0-2.478-0.947-4.862-2.857-7.139c-13.698-16.754-23.883-29.882-30.546-39.402c3.806-7.043,7.519-15.701,11.136-25.98l52.817-7.988 c2.279-0.383,4.189-1.622,5.708-3.716c1.523-2.098,2.279-4.288,2.279-6.571v-63.376 C438.533,185.671,437.777,183.438,436.25,181.438z M270.946,270.939c-14.271,14.277-31.497,21.416-51.676,21.416 c-20.177,0-37.401-7.139-51.678-21.416c-14.272-14.271-21.411-31.498-21.411-51.673c0-20.177,7.135-37.401,21.411-51.678 c14.277-14.272,31.504-21.411,51.678-21.411c20.179,0,37.406,7.139,51.676,21.411c14.274,14.277,21.413,31.501,21.413,51.678 C292.359,239.441,285.221,256.669,270.946,270.939z' fill='#8C8C8C'/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>")
}
.active i.tabbar-setting{
  width: 25px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=utf-8,<!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 438.529 438.529' style='enable-background:new 0 0 438.529 438.529;' xml:space='preserve'><g><path d='M436.25,181.438c-1.529-2.002-3.524-3.193-5.995-3.571l-52.249-7.992c-2.854-9.137-6.756-18.461-11.704-27.98 c3.422-4.758,8.559-11.466,15.41-20.129c6.851-8.661,11.703-14.987,14.561-18.986c1.523-2.094,2.279-4.281,2.279-6.567 c0-2.663-0.66-4.755-1.998-6.28c-6.848-9.708-22.552-25.885-47.106-48.536c-2.275-1.903-4.661-2.854-7.132-2.854 c-2.857,0-5.14,0.855-6.854,2.567l-40.539,30.549c-7.806-3.999-16.371-7.52-25.693-10.565l-7.994-52.529 c-0.191-2.474-1.287-4.521-3.285-6.139C255.95,0.806,253.623,0,250.954,0h-63.38c-5.52,0-8.947,2.663-10.278,7.993 c-2.475,9.513-5.236,27.214-8.28,53.1c-8.947,2.86-17.607,6.476-25.981,10.853l-39.399-30.549 c-2.474-1.903-4.948-2.854-7.422-2.854c-4.187,0-13.179,6.804-26.979,20.413c-13.8,13.612-23.169,23.841-28.122,30.69 c-1.714,2.474-2.568,4.664-2.568,6.567c0,2.286,0.95,4.57,2.853,6.851c12.751,15.42,22.936,28.549,30.55,39.403 c-4.759,8.754-8.47,17.511-11.132,26.265l-53.105,7.992c-2.093,0.382-3.9,1.621-5.424,3.715C0.76,182.531,0,184.722,0,187.002 v63.383c0,2.478,0.76,4.709,2.284,6.708c1.524,1.998,3.521,3.195,5.996,3.572l52.25,7.71c2.663,9.325,6.564,18.743,11.704,28.257 c-3.424,4.761-8.563,11.468-15.415,20.129c-6.851,8.665-11.709,14.989-14.561,18.986c-1.525,2.102-2.285,4.285-2.285,6.57 c0,2.471,0.666,4.658,1.997,6.561c7.423,10.284,23.125,26.272,47.109,47.969c2.095,2.094,4.475,3.138,7.137,3.138 c2.857,0,5.236-0.852,7.138-2.563l40.259-30.553c7.808,3.997,16.371,7.519,25.697,10.568l7.993,52.529 c0.193,2.471,1.287,4.518,3.283,6.14c1.997,1.622,4.331,2.423,6.995,2.423h63.38c5.53,0,8.952-2.662,10.287-7.994 c2.471-9.514,5.229-27.213,8.274-53.098c8.946-2.858,17.607-6.476,25.981-10.855l39.402,30.84c2.663,1.712,5.141,2.563,7.42,2.563 c4.186,0,13.131-6.752,26.833-20.27c13.709-13.511,23.13-23.79,28.264-30.837c1.711-1.902,2.569-4.09,2.569-6.561 c0-2.478-0.947-4.862-2.857-7.139c-13.698-16.754-23.883-29.882-30.546-39.402c3.806-7.043,7.519-15.701,11.136-25.98l52.817-7.988 c2.279-0.383,4.189-1.622,5.708-3.716c1.523-2.098,2.279-4.288,2.279-6.571v-63.376 C438.533,185.671,437.777,183.438,436.25,181.438z M270.946,270.939c-14.271,14.277-31.497,21.416-51.676,21.416 c-20.177,0-37.401-7.139-51.678-21.416c-14.272-14.271-21.411-31.498-21.411-51.673c0-20.177,7.135-37.401,21.411-51.678 c14.277-14.272,31.504-21.411,51.678-21.411c20.179,0,37.406,7.139,51.676,21.411c14.274,14.277,21.413,31.501,21.413,51.678 C292.359,239.441,285.221,256.669,270.946,270.939z' fill='#525252'/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>")
}


.popup-add li .label{
  padding-right: 20px;
}

.widthfull{
  width: 100%;
}
.text-center{
  text-align: center;
}
.radius5{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*Activity Page*/
#activity{
  margin-bottom: 100px;
}

#mappickerpin{
  z-index: 99;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -50px;
  background: url('./../img/pin.png');
  position: absolute;
  left: 50%;
  top: 50%;
}

#mappickerbutton{
  position: absolute;
    bottom: 24px;
    width: 80%;
    left: 10%;
    font-size: 1.8em;
}

.facebook-avatar img{
  width:50px;height:50px;margin-left:-7px;margin-bottom:-5px
}

#feed .facebook-card .title{
  float: left;
  display: inline-block;
  font-size: 1.5em;
  color: #333;
  font-weight: bold;
}
#feed .facebook-card .distance{
  text-align: right;
  float: right;
  display: inline-block;
  font-size: 2.1em;
  padding: 5px;
  background: #ff3b30;
  color: #FFF;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#feed .facebook-card .content{
  margin-top: 40px;

}

.block{
  background: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  margin: 10px;
  padding: 10px;
  border: 1px solid #F3F3F3;
}

.blocktran{
  margin: 10px;
  padding: 10px;
}
.margintop40{
  margin-top: -40px;
}
.paper-popup{
  z-index: 99;
  position: relative;
  overflow: hidden;
}

.paper-popup h2{
  margin: 0px;
  color: #343434;
  display: inline-block;
  float: left;
}
.paper-popup .date{
  display: inline-block;
  margin: 5px;
  float: right;
}
.box{
  overflow: hidden;
}
.paper-popup .paper-label{
  overflow: hidden;
  border: double 5px #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}
.paper-popup .paper-label h1{
  color: #FFF;
  font-size: 1.7em;
}
.paper-popup .paper-label h1.top{
  width: 100%;
  margin:10px 0 0 0;
}
.paper-popup .paper-label h1.bottom{
  width: 100%;
  margin:0 0 10px 0;
}

.color1{
  background: #1B85E1;
}
.color2{
  background: #FF921E;
}

.color3{
  background: #FDD327;
}

.color4{
  background: #FB3F3F;
}


/*login section*/

#login-modal .block{
  background-color: none;
}
#login-modal{
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  background: rgba(22,204,122,1);
  background: rgba(59,191,129,1);
  background: -moz-linear-gradient(-45deg, rgba(59,191,129,1) 0%, rgba(50,179,132,1) 31%, rgba(31,107,194,1) 96%, rgba(24,128,240,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(59,191,129,1)), color-stop(31%, rgba(50,179,132,1)), color-stop(96%, rgba(31,107,194,1)), color-stop(100%, rgba(24,128,240,1)));
  background: -webkit-linear-gradient(-45deg, rgba(59,191,129,1) 0%, rgba(50,179,132,1) 31%, rgba(31,107,194,1) 96%, rgba(24,128,240,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(59,191,129,1) 0%, rgba(50,179,132,1) 31%, rgba(31,107,194,1) 96%, rgba(24,128,240,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(59,191,129,1) 0%, rgba(50,179,132,1) 31%, rgba(31,107,194,1) 96%, rgba(24,128,240,1) 100%);
  background: linear-gradient(135deg, rgba(59,191,129,1) 0%, rgba(50,179,132,1) 31%, rgba(31,107,194,1) 96%, rgba(24,128,240,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bbf81', endColorstr='#1880f0', GradientType=1 );
}
#login-modal form input{
  display: block;
  width: 100%;

  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 1.2em;
  box-sizing: border-box;
  border: 0px;
}
#login-modal hr{
  margin: 0;
}

#login-modal .input-box{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
#login-modal .button{
  margin:10px 0;
  color: #237BB5;
  font-size: 1.5em;
  font-weight: bold;
}

#login-modal .login-wrap{
  position: absolute;
  bottom: 20%;
  width: 100%;
}
#login-modal h4{
  font-size: 2em;
  color: #FFF;
  font-weight: bold;
  margin: 0px;
}
#login-modal h1{
  color: #FFF;
  margin: 0px;
  font-size: 5em;
  font-weight: bold;
}
#login-modal  .content{
  margin: 20px;
  text-align: center;
}

#login-modal .error-message{
  position: absolute;
  width: 100%;
  bottom: 20px;
}
#login-modal .error-message span{
  padding: 10px;
  margin-left: -20px;
  background: #FFF;
  color: #F15555;
  font-weight: bold;
}




/*Profile Section*/
#profile .profile-picture img{
  width: 80%;
  padding: 10%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#profile .profile-picture {
    width: 25%;
    height: 75px;
    float: left;
}
#profile ul{
  display: flex;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}
#profile ul li {
    flex-grow: 3;
    list-style: none;
    text-align: center;
}
#profile ul li p{
  margin: 0.2em 0;
  color: #555;
}
#profile ul li h4{
  margin: 0.2em 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}
#profile .detail{
  float: left;
  width: 75%;
}

/*RECORD SECTION*/

#recordmap,#maptracking,.maptracking{
  width: 100%;
  height: 300px;
  background: red;
}


/*Complete record Activity*/
.textarea{
  resize: none;
  width: 98%;
}


/*Joined List*/
.joined_list img{
  width: 10%;
  float: left;
  margin-right: 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/*Change image in add activity */
#sellect_image{
  background: #8E8E93;
  padding: 10px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
}

#add-content .alertmsg{
  position: relative;;
  width: 80%;
  height: 50px;
  z-index: 99;
  top: -175px;
  margin-left: 10%;
  display: none;
  background: rgb(238, 68, 68);
  text-align: center;
  line-height: 50px;
  color: #FFF;
  font-size: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
